@use "./variables" as *;
@use "./theme-generator";
@use "./mixins";
@use "../components/TodoCategory/todo-category";
@use "../components/Todo/todo";
@use "../components/TodoForm/todo-form";
@use "../components/TodoList/todo-list";
@use "../view/category-list-view";
@use "../view/todo-list-view";
@use "../components/ThemeSwitcher/theme-switcher";
@font-face {
   font-family: "JetBrains";
   src: url("/src/assets/fonts/JetBrainsMono-Regular.ttf") format("truetype");
}

html,
body,
p {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "JetBrains";
}

#theme {
   background-color: $bg;
   min-height: 100vh;
}
