@use "../styles/mixins" as *;
@use "../styles/variables" as *;

.todolistContainer {
   display: flex;
   flex-direction: column;
   width: 100%;

   &_header {
      position: relative;
      align-self: center;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;
      height: 100px;
      width: 100%;
      background-color: $card2;
      border-bottom: 2px solid $border;

      &--returnBtn {
         position: absolute;
         left: 20px;
         cursor: pointer;
      }

      &--title {
      }

      &--addBtn {
         position: relative;

         .plus-icon {
            position: absolute;
            top: 4px;
            left: 5px;
            width: 20px;
         }

         button {
            @include base-button();
            height: max-content;
            padding-left: 25px;
            font-weight: 500;
         }
      }
   }
}
