@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.TodoCategory {
   position: relative;
   border: 1px solid $border;
   border-radius: 10px;
   background-color: $card2;
   width: 100%;
   height: 90px;

   &_title {
   }

   &_delete {
      position: absolute;
   }

   &_select {
      position: absolute;
   }
}
