@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.TodoCategory {
   position: relative;
   display: flex;
   align-items: center;
   border: 1px solid $border;
   border-radius: 10px;
   background-color: $card2;
   width: 100%;
   height: 90px;

   &_content {
      display: flex;
      flex-direction: column;
      margin-left: 10px;
      &--title {
      }

      &--todocount {
      }

      &--nextDeadline {
      }
   }

   button {
      position: absolute;
      border: none;
      background-color: transparent;
      cursor: pointer;
   }

   &_delete {
      right: 10px;
   }

   &_select {
      right: 50px;
   }
}
